<form>
  <mat-checkbox [(ngModel)]="data.canceled" name="canceled">Anuluj</mat-checkbox> <br />
  <mat-checkbox [(ngModel)]="data.completed" name="completed">Zakończ</mat-checkbox> <br />
  <div>
    <button mat-button [mat-dialog-close]="data">Przeslij</button>
    <button mat-button [mat-dialog-close]>Wróć</button>
  </div>
</form>
