<h3>Dodawanie kliniki</h3>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nazwa" [(ngModel)]="element.name" name="name" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Kraj"  [(ngModel)]="element.country" name="country" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Kod pocztowy"  [(ngModel)]="element.postal_code" name="postal_code" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Miast"  [(ngModel)]="element.city" name="city" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Ulica"  [(ngModel)]="element.street" name="street" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Numer budynku"  [(ngModel)]="element.building_number" name="building_number" required>
  </mat-form-field>
  <button (click)="onSubmit()" type="button" style="margin-top: 20px;" mat-raised-button>Przeslij</button>
</form>
