<h1>Lista grafików</h1>

<mat-progress-spinner *ngIf="dataSource === undefined"
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'">
</mat-progress-spinner>
<div *ngIf="dataSource?.data?.length > 0" class="mat-elevation-z8">
<table  mat-table matSort [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Start Column -->
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Początek </th>
    <td mat-cell *matCellDef="let element"> {{element.start | date:'HH:mm dd.MM.yyyy'}} </td>
  </ng-container>

  <!-- End Column -->
  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> Koniec </th>
    <td mat-cell *matCellDef="let element"> {{element.end | date:'HH:mm dd.MM.yyyy'}} </td>
  </ng-container>

  <!-- Doctor  Column -->
  <ng-container matColumnDef="doctor">
    <th mat-header-cell *matHeaderCellDef> Lekarz </th>
    <td mat-cell *matCellDef="let element"> <a routerLink="../doctor-details/{{element.doctor_id._id}}">{{element.doctor_id.first_name}} {{element.doctor_id.last_name}}</a> </td>
  </ng-container>
  <!-- Clinic  Column -->
  <ng-container matColumnDef="clinic">
    <th mat-header-cell *matHeaderCellDef> Klinika </th>
    <td mat-cell *matCellDef="let element"> {{element.clinic_id.name}} </td>
  </ng-container>

  <!-- Details Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Szczegóły </th>
    <td mat-cell *matCellDef="let element"> <button (click)="details(element._id)" mat-stroked-button color="primary">Szczegóły</button> </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edytuj </th>
    <td mat-cell *matCellDef="let element"> <button (click)="edit(element._id)" mat-stroked-button color="primary">Edytuj</button> </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Usuń </th>
    <td mat-cell *matCellDef="let element"> <button (click)="delete(element._id)" mat-stroked-button color="warn">Usuń</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
<button (click)="add()" class="add" mat-button>Dodaj</button>
