<mat-progress-spinner *ngIf="dataSource === undefined"
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'">
</mat-progress-spinner>
<h1>Lista użytkowników</h1>
<div *ngIf="dataSource?.data?.length > 0" class="mat-elevation-z8">
<table  mat-table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>

  <!-- Details Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Szczegóły </th>
    <td mat-cell *matCellDef="let element"> <button (click)="details(element._id)" mat-stroked-button color="primary">Szczegóły</button> </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edytuj </th>
    <td mat-cell *matCellDef="let element"> <button (click)="edit(element._id)" mat-stroked-button color="primary">Edytuj</button> </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Usuń </th>
    <td mat-cell *matCellDef="let element"> <button (click)="delete(element._id)" mat-stroked-button color="warn">Usuń</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
