<div style="height: 100%; padding: 10%;text-align: center; ">
  <mat-card style="width: 300px; display: inline-block;">
  <h3>Rejestracja</h3>
  <form>
    <p>
    <mat-form-field>
      <input matInput type="email" placeholder="E-mail" [(ngModel)]="email" name="email" required>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
      <input matInput type="password" placeholder="Hasło" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    </p>
    <button (click)="onSubmit()" type="button" style="margin-top: 10px; width: 100%;" mat-raised-button>Zarejestruj się</button>
  </form>
  </mat-card>
  </div>
