<div class="mat-app-background basic-container">
<mat-toolbar>
  <span>Administracja</span>&nbsp;
  <span style="width: 100%;"><button routerLink="/logout" style="float: right;" mat-stroked-button >Wyloguj</button></span>
</mat-toolbar>

<button mat-button [matMenuTriggerFor]="doctors">Lekarze</button>
<mat-menu #doctors="matMenu">
  <button mat-menu-item routerLink="doctor-list">Lista lekarzy</button>
  <button mat-menu-item routerLink="doctor-create">Dodaj lekarza</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="clinics">Kliniki</button>
<mat-menu #clinics="matMenu">
  <button mat-menu-item routerLink="clinic-list">Lista klinik</button>
  <button mat-menu-item routerLink="clinic-create">Dodaj klinikę</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="schedules">Grafiki</button>
<mat-menu #schedules="matMenu">
  <button mat-menu-item routerLink="schedule-list">Lista grafików</button>
  <button mat-menu-item routerLink="schedule-create">Dodaj grafik</button>
</mat-menu>

<button mat-button routerLink="patient-list">Pacjenci</button>
<button mat-button  routerLink="visit-list">Wizyty</button>
<button mat-button routerLink="user-list">Użytkownicy</button>


<main>
  <router-outlet></router-outlet>
</main>
</div>
