<div *ngIf="schedules">
<form>
  <mat-form-field>
    <mat-label>Filtrowanie</mat-label>
    <input matInput (keyup)="onFilterChange(filter.value)" name="filterValue" [disabled]="filterFieldDisabled" #filter>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Kryterium filtrowania</mat-label>
    <mat-select (selectionChange)="filterSelected($event)">
      <mat-option value="city">Miasto</mat-option>
      <mat-option value="clinic">Klinika</mat-option>
      <mat-option value="doctor">Lekarz</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<mat-grid-list cols="4" rowHeight="370px">
  <mat-grid-tile *ngFor="let schedule of filteredSchedules">
    <app-patient-schedule (scheduleSelected)="scheduleSelected($event)"  [schedule]="schedule"></app-patient-schedule>
  </mat-grid-tile>
</mat-grid-list>
</div>
<div *ngIf="!schedules">
  <p>Brak terminów w podanym zakresie</p>
</div>
