<h3>Edycja grafika</h3>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Wybierz datę" name="datepicker" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width" >
        <mat-label>Godzina rozpoczącia</mat-label>
        <input matInput placeholder="08:00" name="start_time" [(ngModel)]="start">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Godzina zakończenia</mat-label>
      <input matInput placeholder="16:00" name="end_time" [(ngModel)]="end">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Klinika" [(ngModel)]="clinic_id" name="clinic">
          <mat-option *ngFor="let clinic of clinics" [value]="clinic._id">
            {{clinic.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Lekarz" [(ngModel)]="doctor_id" name="clinic">
        <mat-option *ngFor="let doctor of doctors" [value]="doctor._id">
          {{doctor.first_name}} {{doctor.last_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <button (click)="onSubmit()" type="button" style="margin-top: 20px;" mat-raised-button>Przeslij</button>
</form>
