<h1>Profil</h1>
<div *ngIf="!hasUser">
  <p>Nie masz ustawionego profilu pacjenta. Zanim będziesz mógł zapisać się na wizytę musisz to zrobić</p>
  <form (submit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Imię" [(ngModel)]="patient.first_name" name="first_name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Nazwisko" [(ngModel)]="patient.last_name" name="last_name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="PESEL" [(ngModel)]="patient.national_number" name="national_number" required>
    </mat-form-field>
    <button type="submit" mat-button>Przeslij</button>
  </form>
</div>

<div *ngIf="hasUser">
  <p>Imię: {{patient.first_name}}</p>
  <p>Nazwisko: {{patient.last_name}}</p>
  <p>Pesel: {{patient.national_number}}</p>
  <p>E-mail: {{credentials.email}}</p>
</div>
