<form>
  <h3>Anulowanie wizyty</h3>
  <mat-form-field>
      <input matInput placeholder="Powód anulowania wizyty" type="text" [(ngModel)]="data.cancelationReason" name="cancelationReason" #reason><br />
  </mat-form-field>
  <button mat-button [mat-dialog-close]="data.cancelationReason" [disabled]="!data.cancelationReason">Potwierdź</button>
  <button mat-button (click)="onNoClick()" >Wróć</button>
</form>
