
<mat-progress-spinner *ngIf="doctor === undefined"
class="example-margin"
[color]="'primary'"
[mode]="'indeterminate'">
</mat-progress-spinner>

<div *ngIf="doctor">
<h3>Szczegóły lekarza o id: {{doctor?._id}}</h3>
<h3>{{doctor.first_name}} {{doctor.last_name}}</h3>
  <div class="card-width">
    <mat-accordion class="card-width">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Specjalizacje &nbsp; <b>{{doctor.specialities.length}}</b></mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item *ngFor="let speciality of doctor?.specialities">{{speciality}}</mat-list-item>
          </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Grafiki &nbsp; <b>{{doctor.schedules.length}}</b></mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
              <mat-list-item *ngFor="let schedule of doctor?.schedules">
                <a routerLink="/admin/schedule-details/{{schedule._id}}">{{schedule.start | date:'HH:mm'}} - {{schedule.end | date:'HH:mm'}} {{schedule.start | date:'dd.MM.yyyy'}}</a>
              </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <br/>
      <button routerLink="/admin/doctor-edit/{{doctor?._id}}" mat-button>Edytuj</button>
  </div>
</div>
