<h3>Edytujesz użytkownika o id: {{user._id}}</h3>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="E-Mail" [(ngModel)]="user.email" name="email">
    </mat-form-field>
    <app-role-edit [user]="user"></app-role-edit>
    <button (click)="onSubmit()" type="button" style="margin-top: 20px;" mat-button>Przeslij</button>
</form>
