<h1>Lista wizyt</h1>
<mat-progress-spinner *ngIf="dataSource === undefined"
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'">
</mat-progress-spinner>

<p *ngIf="dataSource?.data?.length === 0">
  Brak wizyt
</p>
<div *ngIf="dataSource?.data?.length > 0" class="mat-elevation-z8">
<table  mat-table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->


  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Początek </th>
    <td mat-cell *matCellDef="let element"> {{element.start | date:'HH:mm dd.MM.yyyy'}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> Koniec </th>
    <td mat-cell *matCellDef="let element"> {{element.end | date:'HH:mm dd.MM.yyyy'}} </td>
  </ng-container>

  <!-- National Number Column -->
  <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef> Cel wizyty </th>
      <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
    </ng-container>

  <!-- National Number Column -->
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Zakończona </th>
    <td mat-cell *matCellDef="let element"> {{element.completed ? 'tak' : 'nie'}} </td>
  </ng-container>

  <!-- National Number Column -->
  <ng-container matColumnDef="canceled">
    <th mat-header-cell *matHeaderCellDef> Anulowana </th>
    <td mat-cell *matCellDef="let element"> {{element.canceled ? 'tak' : 'nie'}} </td>
  </ng-container>

  <!-- Details Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Szczegóły </th>
    <td mat-cell *matCellDef="let element"> <button (click)="details(element._id)" mat-stroked-button color="primary">Szczegóły</button> </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edytuj </th>
    <td mat-cell *matCellDef="let element"> <button (click)="editDialog(element._id)" mat-stroked-button color="primary">Edytuj</button> </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Usuń </th>
    <td mat-cell *matCellDef="let element"> <button (click)="delete(element._id)" mat-stroked-button color="warn">Usuń</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

