<div *ngIf="visit !== undefined">
  <mat-card>
    <mat-list>
        <h3 mat-subheader>Data wizyty</h3>
        <mat-list-item>
          <p mat-line>{{visit.start | date:'MM.dd.yyyy'}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Początek wizyty</h3>
        <mat-list-item>
          <p mat-line>{{visit.start | date:'HH:mm'}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Koniec wizyty</h3>
        <mat-list-item>
          <p mat-line>{{visit.end | date:'HH:mm'}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Cel wizyty</h3>
        <mat-list-item>
          <p mat-line>{{visit.reason}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Czy zakończona</h3>
        <mat-list-item>
          <p mat-line>{{visit.completed ? 'Tak' : 'Nie'}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Czy anulowana</h3>
        <mat-list-item>
          <p mat-line>{{visit.canceled ? 'Tak' : 'Nie'}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>

        <div *ngIf="visit.canceled">
            <h3 mat-subheader>Powód anulowania</h3>
            <mat-list-item>
              <p mat-line>{{visit.cancelation_reason}}</p>
            </mat-list-item>
        </div>

        <h3 mat-subheader>Lekarz</h3>
        <mat-list-item>
          <p mat-line><a routerLink="/admin/doctor-details/{{visit.schedule_id.doctor_id._id}}">{{visit.schedule_id.doctor_id.first_name}} {{visit.schedule_id.doctor_id.last_name}}</a></p>
        </mat-list-item>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Pacjent</h3>
        <mat-list-item>
          <p mat-line><a routerLink="/admin/patient-details/{{visit.patient_id._id}}">{{visit.patient_id.first_name}} {{visit.patient_id.last_name}}</a></p>
        </mat-list-item>
    </mat-list>

  <button mat-button routerLink="../../visit-list">Wstecz</button>
</mat-card>
</div>

