<div class="mat-app-background basic-container">
    <mat-toolbar>
      <span>Pacjent</span>&nbsp;
      <span style="width: 100%;"><button routerLink="/logout" style="float: right;" mat-stroked-button >Wyloguj</button></span>
    </mat-toolbar>

    <button mat-button routerLink="profile">Mój profil</button>

    <button mat-button [matMenuTriggerFor]="visits">Wizyty</button>
    <mat-menu #visits="matMenu">
      <button mat-menu-item routerLink="visit-list">Moje wizyty</button>
      <button mat-menu-item routerLink="visit-create">Umów wizytę</button>
    </mat-menu>
    <main>
      <router-outlet></router-outlet>
    </main>
    </div>
