<h3>{{title}}</h3>
<form class="example-form">
  <mat-form-field class="example-full-width" *ngFor="let field of fields">
    <input matInput placeholder="{{field.placeholder}}" [(ngModel)]="model[field.name]" name="{{field.name}}">
  </mat-form-field>
  <button (click)="onSubmit()" type="button" style="margin-top: 20px;" mat-button>Przeslij</button>
</form>
