<h3>Szczegóły pacjenta o id: {{patient._id}}</h3>
<mat-card class="card-width">
  <mat-card-title>{{patient.first_name}} {{patient.last_name}}</mat-card-title>
  <mat-card-content>
    <p>Pesel: {{patient.national_number}}</p>
    <div *ngIf="patient?.visits?.length > 0">
      <p>Lista wizyt</p>
      <ul>
        <li *ngFor="let visit of patient.visits"><a routerLink="../../visit-details/{{visit._id}}">{{visit.start | date:'HH:mm dd.MM.yyyy'}}</a></li>
      </ul>
    </div>
    <p>Przypisany użytkownik: <a routerLink="../../user-details/{{patient?.user_id?._id}}">{{patient?.user_id?.email}}</a></p>
  </mat-card-content>
  <mat-card-actions>
      <button routerLink="../../patient-edit/{{patient._id}}" mat-button>Edytuj</button>
  </mat-card-actions>
</mat-card>
