<h1>Lista klinik</h1>
<mat-progress-spinner *ngIf="dataSource === undefined"
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'">
</mat-progress-spinner>

<div  class="mat-elevation-z8">
<table mat-table matSort [dataSource]="dataSource">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Country Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Kraj </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- Postal Code Column -->
  <ng-container matColumnDef="postal_code">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Kod pocztowy </th>
    <td mat-cell *matCellDef="let element"> {{element.postal_code}} </td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Miasto </th>
      <td mat-cell *matCellDef="let element">{{element.city}}</td>
    </ng-container>

  <!-- Street Column -->
  <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Ulica </th>
      <td mat-cell *matCellDef="let element">{{element.street}}</td>
  </ng-container>

  <!-- Building number Column -->
  <ng-container matColumnDef="building_number">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Numer budynku </th>
      <td mat-cell *matCellDef="let element">{{element.building_number}}</td>
  </ng-container>

  <!-- Details Column -->
  <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef > Szczegóły </th>
      <td mat-cell *matCellDef="let element"> <button (click)="details(element._id)" mat-stroked-button color="primary">Szczegóły</button> </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edytuj </th>
    <td mat-cell *matCellDef="let element"> <button (click)="edit(element._id)" mat-stroked-button color="primary">Edytuj</button> </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Usuń </th>
    <td mat-cell *matCellDef="let element"> <button (click)="delete(element._id)" mat-stroked-button color="warn">Usuń</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>
<button (click)="add()" class="add" mat-button>Dodaj</button>
