<mat-progress-spinner *ngIf="visits === undefined"
  class="example-margin"
  [color]="'primary'"
  [mode]="'indeterminate'">
</mat-progress-spinner>

<div *ngIf="visits?.length === 0">
  <h3>Brak wizyt</h3>
</div>
<div *ngIf="visits?.length > 0">
<h3>Lista wizyt</h3>
<table style="width: 100%;" mat-table [dataSource]="visits">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let element"> {{element?.start | date:'dd.MM.yyyy'}} </td>
  </ng-container>
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Początek </th>
    <td mat-cell *matCellDef="let element"> {{element?.start | date:'HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> Koniec </th>
    <td mat-cell *matCellDef="let element"> {{element?.end | date:'HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef> Cel </th>
    <td mat-cell *matCellDef="let element"> {{element?.reason}} </td>
  </ng-container>

  <ng-container matColumnDef="doctor">
    <th mat-header-cell *matHeaderCellDef> Lekarz </th>
    <td mat-cell *matCellDef="let element"> {{element?.schedule_id?.doctor_id?.first_name}} {{element?.schedule_id?.doctor_id?.last_name}} </td>
  </ng-container>

  <ng-container matColumnDef="clinic">
    <th mat-header-cell *matHeaderCellDef> Klinika </th>
    <td mat-cell *matCellDef="let element"> {{element?.schedule_id?.clinic_id?.name}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Adres </th>
    <td mat-cell *matCellDef="let element"> {{element?.schedule_id?.clinic_id?.city}} {{element?.schedule_id?.clinic_id?.street}} {{element?.schedule_id?.clinic_id?.building_number}} </td>
  </ng-container>

  <ng-container matColumnDef="cancel">
      <th mat-header-cell *matHeaderCellDef> Anuluj </th>
      <td mat-cell *matCellDef="let element"><button mat-stroked-button (click)="openDialog(element?._id)">Anuluj</button></td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>
