<form class="example-form">
<mat-form-field class="example-full-width">
    <input (dateInput)="dateInput($event)" matInput [matDatepicker]="picker" placeholder="Wybierz datę" name="datepicker" [(ngModel)]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width" >
      <mat-label>Godzina rozpoczącia</mat-label>
      <input matInput placeholder="08:00" name="start_time" [(ngModel)]="start">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Godzina zakończenia</mat-label>
    <input matInput placeholder="16:00" name="end_time" [(ngModel)]="end">
  </mat-form-field>

  <button (click)="onSubmit()" type="button" style="margin-top: 20px;" mat-raised-button>Przeslij</button>
</form>
