<mat-progress-spinner *ngIf="!schedule"
class="example-margin"
[color]="'primary'"
[mode]="'indeterminate'">
</mat-progress-spinner>

<div class="container" *ngIf="schedule">
  <h3>Informacje</h3>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{schedule.start | date: 'HH:mm'}} - {{schedule.end | date:'HH:mm'}} {{schedule.start | date:'dd.MM.yyyy'}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lekarz: {{schedule.doctor_id.first_name}} {{schedule.doctor_id.last_name}}</p>
      <p>Klinika: {{schedule.clinic_id.name}}</p>
    </mat-card-content>
  </mat-card>

  <h3>Wizyty</h3>
  <p *ngIf="schedule?.visits?.length === 0">Brak wizyt</p>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let visit of schedule.visits">
      <mat-expansion-panel-header>
        <mat-panel-title>{{visit.start | date:'HH:mm'}} {{visit.start | date:'dd.MM.yyyy'}}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <p>Początek: {{visit.start | date:'HH:mm'}}</p>
      <p>Koniec: {{visit.end | date:'HH:mm'}}</p>
      <p>Pacjent: <a routerLink="/admin/patient-details/{{visit.patient_id._id}}">{{visit.patient_id.first_name}} {{visit.patient_id.last_name}}</a></p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
