
<h3>Edycja lekarza</h3>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Imię" [(ngModel)]="doctor.first_name" name="first_name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nazwisko"  [(ngModel)]="doctor.last_name" name="last_name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Specjalnosci..."  [(ngModel)]="doctor.specialities" name="specialities" >
    <mat-hint>Podaj specjalnosci oddzielone przecinkiem</mat-hint>
  </mat-form-field>
  <button (click)="onSubmit()" type="button" style="margin-top: 20px;" mat-raised-button>Przeslij</button>
</form>
