<div style="height: 100%; padding: 10%;text-align: center; ">
<div class="card-style">
  <mat-card style="display: inline-block">
    <h3>Wylogowano Cię</h3>
    <button routerLink="/" mat-raised-button>Strona główna</button>
  </mat-card>
</div>
</div>
