<h3>Szczegóły użytkownika o id: {{user._id}}</h3>
<mat-card class="card-width">
  <mat-card-title>{{user.email}}</mat-card-title>
  <mat-card-content>
    <p>Role:</p>
    <mat-list>
        <mat-list-item *ngFor="let role of user.roles">{{role}}</mat-list-item>
      </mat-list>
  </mat-card-content>
  <mat-card-actions>
      <button routerLink="/admin/user-edit/{{user._id}}" mat-button>Edytuj</button>
  </mat-card-actions>
</mat-card>
