<mat-card>
  <mat-card-header>
    <h3>{{schedule.doctor_id.first_name}} {{schedule.doctor_id.last_name}}</h3>
  </mat-card-header>
  <mat-card-content>
    <h5>{{schedule.start | date:'dd.MM.yyyy'}}</h5>
    <p>Godziny pracy: <i>{{schedule.start | date:'HH:mm'}} - {{schedule.end | date:'HH:mm'}}</i></p>
    <p>Klinika: {{schedule.clinic_id.name}}</p>
    <p>Miasto: {{schedule.clinic_id.city}}</p>
    <p>Specjalizacje: </p>
    <ul>
      <li *ngFor="let speciality of schedule.doctor_id.specialities">{{speciality}}</li>
    </ul>
  </mat-card-content>
  <mat-card-action>
    <button (click)="selected()" mat-button>Wybierz</button>
  </mat-card-action>
</mat-card>
