/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');
body {
    font-family: 'Roboto', sans-serif;
    background:lightgray;
}
