<h1>Zapis na wizytę</h1>
<mat-vertical-stepper [linear]="true" #stepper>
	<mat-step [stepControl]="firstFormGroup">
		<form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Wybierz zakres dat</ng-template>
      <mat-form-field>
        <input matInput [min]="minDate" (dateInput)="startDateInput($event)" [matDatepicker]="picker1" placeholder="Początek" #startDatePicker formControlName="start_date" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [min]="minDate" (dateInput)="endDateInput($event)" [matDatepicker]="picker2" placeholder="Koniec" #endDatePicker formControlName="end_date" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
				<div>
					<button (click)="showSchedules()" mat-button matStepperNext>Dalej</button>
				</div>
			</form>
		</mat-step>
		<mat-step [stepControl]="secondFormGroup">
			<form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Wybierz dzień</ng-template>
        <mat-progress-spinner *ngIf="schedules === undefined"
          class="example-margin"
          [color]="'primary'"
          [mode]="'indeterminate'">
        </mat-progress-spinner>


        <p *ngIf="schedules?.length === 0">W wybranym zakresie brak terminów.</p>

        <app-patient-schedule-list *ngIf="schedules?.length > 0" (selectedSchedule)="selectedSchedule($event, stepper)" [schedules]="schedules"></app-patient-schedule-list>
      </form>
		</mat-step>
		<mat-step [stepControl]="thirdFormGroup">
			<ng-template matStepLabel >Wybierz godzinę</ng-template>
      <form [formGroup]="thirdFormGroup">
        <mat-form-field>
          <input matInput placeholder="Cel wizyty" #visitReason formControlName="visitReason"><br />
        </mat-form-field>
        <!-- godziny wizyt do wyboru -->
        <mat-form-field>
          <mat-select placeholder="Godzina" #selectedHour formControlName="hour">
            <mat-option *ngFor="let hour of availableHours" [value]="hour">{{hour}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Lekarz przyjmuje w godzinach {{schedule?.start | date:'HH:mm'}} - {{schedule?.end | date:'HH:mm'}} </p>

        <button (click)="saveVisit(visitReason.value, selectedHour.value)" mat-button>Zapisz się.</button>
      </form>
    </mat-step>
	</mat-vertical-stepper>
