<mat-card>
  <mat-card-header>
      <h4>Role</h4>
  </mat-card-header>


  <mat-list>
    <mat-list-item *ngFor="let role of user.roles">
      {{role}}
      <span style="width: 100%;">
        <button (click)="deleteRole(role, roleField)" style="float: right;" mat-stroked-button color="warn">Usuń</button>
      </span>
    </mat-list-item>
  </mat-list>


  <mat-card-actions>
    <h4>Dodawanie roli:</h4>
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="rola" name="role" #roleField [value]="roleInput">
    </mat-form-field>
  <button (click)="addRole(roleField.value)" mat-stroked-button>Dodaj rolę</button>
  </mat-card-actions>

</mat-card>
